{{- define "main" -}}
	  <div class="container-1200">
  	  <h2>{{ .Title }}</h2>
      <div class="section">
    	  {{ with .Site.Data.services.services_group.services_caption }}
        <div class="page-caption">
          <p>{{ . }}</p>
        </div>
        {{end}}
      </div>
  	  <div class="section">
        {{ range where .Pages "Section" "services" }}
        <div class="service">
          <div class="service-image">
        	<img src="{{ .Site.BaseURL }}{{ .Params.picture }}" alt="{{ .Title }}">
           </div>
          <div class="service-desc">
        	<h3>{{ .Title }}</h3>
        	<p>{{ .Content }} </p>
          </div>
        </div>
        {{ end }}
  	  </div>
	  </div>
{{- end -}}
