body{margin:0 auto;font-size: 16px;background-color: #ffffff;color: #313e49;min-width: 680px;}
a{text-decoration: none}
.content a {color:#172c40;}
.grid-container{
  display:grid;
  grid-template-areas:   "header header"
  "content"
  "footer footer";
  grid-template-rows:150px auto auto;
  grid-template-columns: 1fr;
  height: 100vh;
}
.container{max-width: 1350px;margin: auto;padding: 0px 1rem;}
.container-1200{max-width: 1200px;margin: auto;padding: 0px 1rem}
.container-960{max-width: 960px;margin: auto;padding: 0px 1rem}
.container-780{max-width: 780px;margin: auto;padding: 0px 1rem}
.header{background-color: #fff;color:#202020;display:flex;align-items: stretch;justify-content: space-between;}
h1, h2, h3, h4 {color: #2b353e;} h1{font-size:3.2em;}h2{font-size: 2.4em} h3{font-size: 1.8em;}
.content{padding: 0rem;font-family: Tahoma,Optima,sans-serif;border-bottom: 1px dashed #172c40;border-top: 1px dashed #172c40;}
.section{margin: 3em 0px 9em 0px;}
.footer {background-image:none;background-color: #fff; color: #303030; margin-top: 20px;padding-bottom: 1em;}
.footer-badge {display:none;}
.footer * {text-align: left;line-height:1.2em;}
.footer a {text-decoration: none;color:#303030;}
.footer>div {margin-top: 0px;}
.footer .grid-three div:nth-child(odd){display:none;}
ul {list-style-type: none;padding-left: 0;}
li {line-height: 1.5em;}
.copy{font-size: .8em;}
.logowrap{display:flex;flex-grow: 1;place-items:center;padding-left: 2em;}
.logo{font-size:4em;font-weight: 600;font-family: serif;letter-spacing: 5px;text-shadow:none;}
.logowrap a{color:#050505;}
.nav-wrap{display:none;}
h1.byline{font-size: 2vw;text-align: center;font-variant: all-small-caps;font-weight: 600;line-height: 3.5vw;}
.alerts{position:relative;display: flex;justify-content: center;flex-wrap: wrap;}
.alerts>div{display: grid;padding: 1.33em;background-color: #ffffff88;border: 3px solid #fff;text-align: center;position: relative;}
.alerts h4{position: absolute;margin: 0;color: #16191c;display: block;width: 200px;left: calc(50% - 100px);padding: 0px;font-weight: 600;}
.alert-content{display:grid;place-self:center;}
img{width: 100%;}
.fire-danger span{padding:.5em 1.6em;color:#ffffff;font-size: 1.8em;text-transform: uppercase;font-family: sans-serif;max-width:200px;margin:0 auto;}
.fd-extreme{background-color: #990000; -webkit-text-stroke: 1px #ccc;}
.badge{padding: .3em; color: #ffffff;border-radius: 50%; background-color: #303030; font-size: .9rem;margin-right: .5rem;line-height: 1px;}
.badge img{width:18px;}
.badge_ff{background-color:#660b05;}
.badge_emt{background-color:#191954;}
.badge_paramedic{background-color:#234bb0;}
.badge_nurse{background-color:#194fd7;}
.badge_wildland{background-color:#196118;}
.badge_structure{background-color:#533805;}
.badge_water{background-color:#0e5359;}
.badge_rope{background-color:#5b543f;}
.page-caption{font-size: 1.2em;padding: 1em 1.5em;background-color: #ffffff88; border-left: 2px solid #16191c;}
.line-clamp-3 {display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden;}

/* HERO */
.hero-background{height: 520px;background-image: url("imgs/turnouts.jpg");background-size: cover;display: grid;place-items: center;}
.hero-cta{max-width: 400px;width:fit-content;}
.hero-cta p {font-family: copperplate,sans-serif;color:#f4f4f7;text-shadow: 2px 2px 3px #12161c;font-size: 2.4em;font-weight: 600;text-decoration: none;text-align: center;}
.btnActionHome {
width: fit-content;
padding: .6em 1.6em;
color: #fff;
font-weight: 400;
font-size: 2em;
background-color: #12161c;
line-height: 1;
text-transform: uppercase;
cursor: pointer;
display: block;
margin: auto;
text-decoration: none;
text-align: center;
}
.btnActionHome:hover {background-color: #0f1113;color:#f6f55a;cursor: pointer;}
/* HERO END */

.grid-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}
.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}


.dark{filter: brightness(.9);}
.darker{filter: brightness(.8);}
.darkest{filter: brightness(.7);}

.card {
  position: relative;
  margin: 2em 1em;
  background-color: #121315;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 1em;
  color: #fff;
}

.card .card-image {position: relative;
width: 100%;
height: 0;
padding-bottom: 60%;
overflow: hidden;
border-top-left-radius: .5em;
border-top-right-radius: .5em;}
.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-image .card-title {
  color: #303030;
  text-shadow: 1px 2px 2px #16191ce8;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background-color: #cccccc;
}
.card .card-title {font-size: 24px;font-weight: 400;}
.card .card-content {padding: 24px;height: 80px;}

.card .card-action {
background-color: inherit;
border-top: 1px solid rgba(160,160,160,0.2);
position: relative;
padding: 16px 24px;
}
.callout {
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(112,112,112,0.1);
    background-color: #ccc;
    color: #303030;
}
.callout-hd_critical{background-color: #ddd;color:#222;}
.callout-bd_critical{background-color: #ddd;color:#222;}
.callout-hd_warning{background-color: #ddd;color:#222;}
.callout-bd_warning{background-color: #ddd;color:#222;}
.callout-hd_note{background-color: #ddd;color:#222;}
.callout-bd_note{background-color: #ddd;color:#222;}