<h2>Commissioners</h2>
<div class="people commisioners grid grid-three">
    {{ range where .Pages "Section" "people/commissioners" }}
          <div class="person_text">
            <span class="name">{{ .Params.title }}</span>
            <p class="bio">
              Term expires {{ .Params.date }}, Subdistrict {{ .Params.subdistrict }}<br>
              {{ .Params.email }}
            </p>
          </div>
    {{ end }}
</div>
