{{- define "main" -}}
  <div class="container container-1200">
    <div class="section">
    <!-- Stations -->
    <h2>Stations</h2>
    {{ with .Site.Data.assets.assets_group.stations_caption }}<p>{{ . }}</p>{{end}}
    <div class="grid grid-three">
    {{ range where .Site.RegularPages "Params.type" "station" }}
    <div class="station">
          <h4>{{ .Title }}</h4>
          <img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="">
          <address>
            {{ .Params.street_address }}<br>
            Garden Valley, ID 83622
          </address><br>
          <a href="https://www.google.com/maps/place/{{ replace .Params.street_address " " "+" }},+Garden+Valley,+ID+83622/" target="blank">Google Maps ➣</a><br>
          <!-- <span>{{ .Params.info }}</span> -->
        </div>
    {{ end }}
    </div>
    </div>

    <hr>

    <!--Apparatus -->
    <h2>Apparatus</h2>
    {{ with .Site.Data.assets.assets_group.apparatus_caption }}<p>{{ . }}</p>{{end}}
    <div class="grid grid-three">
    {{ range where .Site.RegularPages "Params.type" "apparatus" }}
      <div>
          <div class="card">
            <div class="card-image">
              <img src="{{ .Site.BaseURL }}{{ .Params.image }}">
              <div class="card-title">
                <span>{{ .Title }}</span>
                {{with .Params.year }}<span>{{ . }}</span>{{end}}
              </div>
            </div>
            <div class="card-content">
              <div class="line-clamp-3">{{ .Content }}</div>
              {{if gt (len .Content) 120}}<a href="{{ .Permalink }}" class="readmore">More</a>{{end}}
            </div>
          </div>
        </div>
      {{ end }}
    </div>

    <hr>

    <!--Equipment -->
    <h2>Equipment</h2>
    {{ with .Site.Data.assets.assets_group.equipment_caption }}<p>{{ . }}</p>{{end}}
    <div class="grid grid-three">
    {{ range where .Site.RegularPages "Params.type" "equipment" }}
      <div>
          <div class="card">
            <div class="card-image">
              <img src="{{ .Site.BaseURL }}{{ .Params.image }}">
              <span class="card-title">{{ .Title }}</span>
            </div>
            <div class="card-content">
              <p class="line-clamp-3">{{ .Content  }}</p>
              {{if gt (len .Content) 120}}<a href="{{ .Permalink }}" class="readmore">More</a>{{end}}
            </div>
          </div>
        </div>
      {{ end }}
    </div>

  </div>
{{- end -}}
