<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
  <div class="grid-container">
  {{ partial "header.html" . }}

    <div class="content">
      <div class="container">
        {{- block "main" . -}}{{- end -}}
      </div>
	  </div>
    {{ partial "footer.html" . }}
  </div>



</body>

</html>
