{{ define "main" }}
  <h1>{{ .Type | title }}</h1>
  {{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) 2 }}
  {{ range $paginator.Pages }}
    <article>
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
      {{ .Summary }}
    </article>
  {{ end }}
  <section>{{ partial "pagination.html" .}}</section>
{{ end }}
