{{- define "main" -}}
<!-- https://apexcharts.com/docs/datalabels/ -->
<script src="{{ .Site.BaseURL }}js/apexcharts.min.js"></script>


<div class="container-960">
  <div class="section">
    <h2>Run History</h2>

    {{ $labels := slice }}
    {{ $medicals := slice }}
    {{ $fires := slice }}
    {{ $others := slice }}
    {{ range last 12 ((where .Site.RegularPages "Section" "stats").ByDate) }}
        {{ $labels = $labels | append (print "'" (substr .Date 0 7 ) "' " ) }}
        {{ $medicals = $medicals | append .Params.stat_medical }}
        {{ $fires = $fires | append .Params.stat_fire }}
        {{ $others = $others | append .Params.stat_other }}
    {{end}}


    <div id="chart">

    </div>

    <dl>
      <dt>LEO</dt><dd>Law Enforcement Officer standby</dd>
      <dt>MVA</dt><dd>Motor Vehicle Accident</dd>
      <dt>Other</dt><dd>Standbys, rescue, mutual aid</dd>
    </dl>

  </div>
</div>



  <script>
    var options =

    {
      series: [{
      name: 'Medical  ',
      data: [{{ (delimit $medicals ", ") | safeJS}}]
    }, {
      name: 'Fire  ',
      data: [{{ (delimit $fires ", ") | safeJS}}]
    }, {
      name: 'LEO/MVA/Other  ',
      data: [{{ (delimit $others ", ") | safeJS}}]
    }],
      colors:['#0c50a2', '#c92329', '#298246'],
      chart: {
      type: 'bar',
      height: 350,
      stacked: true,
      toolbar: {
        show: false
      },
      zoom: {
        enabled: true
      }
    },
    responsive: [{
      breakpoint: 960,
      options: {
        plotOptions: {
          bar: {
            horizontal: true
          }
        },
        legend: {
          position: 'bottom',
          offsetX: -10,
          offsetY: 0
        }
      }
    }],
    plotOptions: {
      bar: {
        horizontal: false
      },
    },
    xaxis: {
      type: 'category',
      labels: {format: 'MMM-yy',rotate: -45,rotateAlways: true},
      categories: [{{ (delimit $labels ", ") | safeJS}}],
    },
    legend: {
      show: true,
      position: 'top',
      fontSize: '18px',
      fontFamily: 'sans-serif',
      markers: {
       width: 30,
       height: 16,
     }
    },
    fill: {opacity: 1},
    tooltip: {
      x: {
        format: "MMM-yy"
         }
      },
      title:{
        text: 'Garden Valley Fire Protection District'
      },
      subtitle:{
        text: 'Monthly Runs Trailing 12 months'
      }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();

  </script>


{{end}}

