<div class="person_text">
  <span class="name">{{ .Title }}</span>
  <p class="bio">
    Term Expires {{ .Params.termExpiresDate.Format "Jan, 2 1995"}}, Subdistrict {{ .Params.subdistrict }}<br>
    {{ .Params.email }}
  </p>
</div>
