    <div class="footer">
      <img src="{{ .Site.BaseURL }}media/logo_gardenvalleyfire-badge.png" alt="" class="footer-badge">
      <div class="container-1200">
        <div class="grid">
          <div><h3>Quick Links</h3>
            <ul class="quick-links">
              {{ range where site.RegularPages "Section" "pages" }}
              {{ if .Params.quicklink }}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{end}}
              {{end}}
            </ul>
          </div>
          <div><h3>Contact</h3>
            <address>
              <a href="mailto:info@gvfdidaho.com">info@gvfdidaho.com</a><br>
              <a href="tel:+12084623175">phone: 208-462-3175</a><br><br>
              <span>fax: 208-462-6704</span><br><br>
              Mailing Address<br>
              PO Box 530<br>
              Garden Valley, ID 83622
            </address>

          </div>
          <div><h3>Social</h3>
            <a href="https://www.facebook.com/GardenValleyFire/" title="GVFD on Facebook" target="_blank">
            <img src="{{ .Site.BaseURL }}media/IC-facebook.png" style="width: 80px;">
            </a>
          </div>
        </div>

      </div>
      <p class="copy">&copy; {{ dateFormat "2006" now }} Garden Valley Fire Protection District. All Rights Reserved.</p>
    </div>


  </body>
  </html>
