<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Site.Title }}</title>

  <!-- <link rel="stylesheet" href="{{ .Site.BaseURL | absURL }}css/main.css"> -->
  {{ partial "main-css.html" }}
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/print.css" media="print">

  <meta name="description" content="Fire Protection District for Garden Valley Idaho. Fire, Rescue, EMS.">
  <meta property="og:title" content="Garden Valley Fire Department | Idaho">
  <meta property="og:description" content="Page description">
  <meta property="og:image" content="{{ .Site.BaseURL }}imgs/gardenvalleyfirebadge-med-cutout-2.png">
  <meta property="og:image:alt" content="Garden Valley Idaho Fire Department Badge">
  <meta property="og:locale" content="en_GB">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://www.mywebsite.com/page">
  <link rel="canonical" href="https://www.mywebsite.com/page">

  <link rel="icon" href="{{ .Site.BaseURL }}{{ .Site.Data.settings.favicon }}">

  <link rel="manifest" href="{{ .Site.BaseURL }}my.webmanifest">
  <meta name="theme-color" content="#16191C">

	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
