<div class="service">
  <div class="service-image">
	<img src="{{ .picture }}" alt="{{ .Title }}">
   </div>
  <div class="service-desc">
	<h3>{{ .Params.Title }}</h3>
	<p>{{ .Content }} </p>
  </div>
</div>
