<h2>Upcoming Events</h2>
<ul>
  {{ range where site.RegularPages "Type" "events" }}
    {{ if gt (.Params.event_date | time.AsTime) now }}
      {{ $startDate := .Params.event_date | time.Format ":date_medium" }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a> - {{ $startDate }}
      </li>
    {{ end }}
  {{ end }}
</ul>
