<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
  <div class="grid-container">
  {{ partial "header.html" . }}

    <div class="content">

      <div class="container-780">
        <h2>404 Error - Page Not Found</h2>

      <div class="section">

        <div class="boom critical">
            <aside class="critical-inverse">
              <span>404</span>
            </aside>
            <article>
              <h4>Page Not Found</h4>
              <p>Oh no, the page you are looking for was not found!</p>
            </article>
        </div>
      <p>Possible causes for this error:</p>
      <ul>
        <li>&bull; the page has been deleted</li>
        <li>&bull; the page has been renamed</li>
        <li>&bull; a link was saved incorrectly</li>
      </ul>
      <p>If you believe this page is missing and needs to be found, we will activate our search and rescue teams.</p>
      <img src="{{ .Site.BaseURL }}imgs/assets/rescue-831.jpg" alt="">



	  </div>

  </div>

{{ partial "footer.html" . }}

</body>

</html>
