{{ define "main" }}
<br>
<div class="container-960">
  <div class="events">
    
      <h2>Events</h2>
      {{ range (where site.RegularPages "Section" "events").ByDate }}
      {{ if gt (.Date | time.AsTime) now }}
      {{ with (.Date | time.AsTime) }}
      <div class="event">
        <div class="event-calendar">
          <span class="event-date">{{ dateFormat "02" . }}</span>
          <span class="event-dow">{{ dateFormat "Monday" . }}</span>
          <span class="event-month">{{ dateFormat "Jan" . }}</span>
        </div>
        {{ end}}
        <div class="event-data">
          <div>
          <a href="{{ .Permalink }}"><h3 class="event-title">{{ .Title }}</h3></a>

          <p>{{ .Summary | markdownify }}</p>
          {{ if .Truncated }}
          … <p><a href="{{ .Permalink }}" class="readmore">Read More</a><p>
          {{ end }} 
          </div>
        </div>
    </div>
    <hr>
    {{ end }}
    {{ end }}
    
  </div>
</div>
{{ end }}
