{{ define "main" }}


<div class="container-960">
  
  {{ partial "breadcrumbs.html" . }}

  <div class="events">

    <h3 class="event-title">{{ .Title }}</h3>

    <div class="event">
      <div class="event-calendar">
        <span class="event-date">{{ dateFormat "02" (.Date | time ) }}</span>
        <span class="event-dow">{{ dateFormat "Monday" (.Date | time.AsTime) }}</span>
        <span class="event-month">{{ dateFormat "Jan" (.Date | time.AsTime) }}</span>
      </div>

      <div class="event-data">
        <br>
        <article>
        {{.Content}}
        </article>
      </div>
    </div>


  </div>
</div>

{{ end }}
