
{{- define "main" -}}
	  <div class="container-960">
  	  <h2>{{ .Title }}</h2>
      <div class="section">
        <div class="grid">
          <div>
            <img src="{{ .Site.BaseURL }}imgs/assets/{{ .Params.picture }}" alt="{{ .Title }}">
          </div>
          <div>
            <p>{{ .Content }} </p>
          </div>
        </div>
      </div>
    </div>
{{- end -}}
